@font-face {
    font-family: 'Spotify';
    src: url('./font/circular.ttf');
}

* {
    font-family: 'Spotify', Arial, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.scdn.co/image/ab67616d0000b273c5a22b35a6476f782bd44eab");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: blur(8px) brightness(35%);
    z-index: -1;
}

/* Image de couverture Spotify */
.spotify_cover {
    width: 15%;
    margin-left: 10%;
    border-radius: 50%;
    animation: rotatePicture 15s linear infinite;
}

.spotify_info {
    position: relative;
    top: 4vh;
    width: 70%;
    float: right;
}

.spotify_info h1 {
    color: #00eb61;
    font-size: 55px;
}

.spotify_info p {
    color: #dbdbdb;
    font-size: 30px;
    font-style: italic;
}

/* Contrôles de Spotify */
.spotify_controler {
    margin-left: 10%;
}

.spotify_controler i {
    font-size: 3.5rem;
    padding-right: 7%;
    color: #00eb61;
}

.button_sp:hover {
    color: white;
}

/* Position du slider */
.position_slider {
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: auto;
    display: inline-flex;
    width: 100%;
}

.position_slider input {
    width: 42%;
    margin: 0 0.5%;
}

.slider {
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    border-radius: 5px;
}

.slider:hover {
    opacity: 1;
}


/* Animation pour l'image */
@keyframes rotatePicture {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
